<section class="hero is-fullheight is-black">
  <div class="hero-head">
    <app-navbar></app-navbar>
  </div>

  <div class="hero-body">
    <div class="container is-fullwidth has-text-centered">
      <h1 [innerHTML]="pageTitle" class="title"></h1>

      <ng-content class="subtitle"></ng-content>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul>
          <li>
            <a routerLink="/welcome" [routerLinkActive]="['has-background-white', 'has-text-black']">Home</a>
          </li>
          <li>
            <a routerLink="/playsets/modals" [routerLinkActive]="['has-background-white', 'has-text-black']">Modals</a>
          </li>
          <li>
            <a routerLink="/playsets/wysiwyg" [routerLinkActive]="['has-background-white', 'has-text-black']">Wysiwyg</a>
          </li>
          <li>
            <a routerLink="/playsets/fileuploader" [routerLinkActive]="['has-background-white', 'has-text-black']">FileUploader</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
