<section class="hero is-fullheight is-black">
  <div class="hero-head">
    <app-navbar></app-navbar>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to NgPlayground!
      </h1>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul>
          <li>
            <a routerLink="/modals">Modals</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
