<section class="hero is-fullheight is-dark">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-end">
            <a routerLink="/home" class="navbar-item">Home</a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to My NgPlayground!
      </h1>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul>
          <li>
            <a>Modals</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
